header{
    background-color: rgb(231, 58, 58);
}
nav button{
    border-radius: 15px;
    border: 1px white solid;
    color: white;
    background-color: rgb(231, 58, 58);
}
.w-10{
    width: 10%;
}
.w-40{
    width: 40%;
}
.w-33{
    width: 33%;
}
.btn1{
    color:white;
    background-color: black;
    border: 0px;
    border-radius: 15px;
}
.btn2{
    color:black;
    background-color:white;
    border: 0px;
    border-radius: 15px;
}
.conteiner1{
    background-color: rgb(36, 36, 36);
}
.conteiner2{
    background-color:white;
}
.fondo1{
    background-color: rgb(36, 36, 36);
}
.fondo2{
    background-color: rgb(231, 58, 58);
}
.fondo3{
    background-color: white;
}
.sec3div1{
    padding: 100px;
    background-image: url(mapa.jpg);
    background-size: 100% 100%;
    border-bottom:1px black solid;
}
.divfooter{
    color: white;
}
footer ul{
    list-style-type: none;
}